ul {
	list-style-type: none;
}

.editEvent {
	width: 100%;
	min-height: 150px;
}

.actions {
	display: inline-block;
}

.actions a {
	display: inline-block;
}
.follow {
	text-align: right;
	margin: 10px;
}
.follow .followLinks {
	display: inline-block;
	width: 300px;
}

.attendees {
	display: inline-block;
}

.attendees li {
	display: inline-block;
}

.attendees li span {
	white-space: pre;
}

#addEvent .input-group span.messageHed {
  height: 44px;
  display: block;
  border-radius: 4px 4px 0 0 !important;
}

#addEvent .title {
	margin-bottom: 20px;
}


#addEvent .input-group span.messageHed, #addEvent .input-group.message {
  width: 100%;
  line-height: 22px;
}

#addEvent .input-group textarea.messageDek {
  height: 300px;
  border-radius: 0 0  4px 4px !important;
  background-color: white;
}

#addEvent .btn {
  margin-top: 20px;
}

.eventList {
	padding: 0;
}

.navItems {
	padding: 0;
	min-width: 260px;
}

.submitEvent {
	text-align: center;
	margin-bottom: 20px;
}

.submitEvent button {
	width: 100px;
	display: inline-block;
}

.input-group-addon:not(.messageTextArea) {
	border-right: 1px solid #ccc !important;
}