.menuWrapper {
	position: relative;
	top: 0;
}

.menuContainer {
	height: 60px;
}

.menuWrapper .itemsContainer {
	height: 100%;
	list-style-type: none;
}

.menuWrapper .itemsContainer .search {
	height: 100%;
}

.menuWrapper .itemsContainer .nav {
	height: 100%;
}

.navBarColor{
	background-color: #375a7f;
	border-color: transparent;
}

.navItems {
	height: 100%;
	float: right;
	list-style-type: none;
}

.navItems li {
	height: 100%;
	display: inline-block;
	width: 60px;
	line-height: 60px;
	color: white;
	text-transform: uppercase;
	font-family: serif;
}

.navItems li a {
	color: white;
}


.menuItems {
	float: right;
}

.menuItems a {
	color: white;
}

.menuItems a:hover{
	color: white;
	background-color: black;
}

.menuItems a:focus{
	color: white;
}

.col-md-4{
	float: right !important
}

.verticalLine {
	border-left: 2px solid white;
}

.verticalLineRight{
	border-right: 2px solid #464545;
}

.navbar-toggle{
	background-color: #375a7f !important;
	border: 1px solid white !important;
}

.navbar-collapse{
	border: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
	color: white !important;
	background-color: #464545 !important;;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color: white !important;
	background-color: transparent !important;
}

@media screen and (max-width: 768px) {
	.verticalLine{
		border-left: 0px solid yellow; !important;
	}
}

.navbar-inverse .navbar-nav > .open > a{
	background-color: #464545 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #464545 !important;
}

.dropdown-menu > li > a {
	width: 100% !important;
}

.dropDownMenuItems{
	text-align: center !important;
}

.circle{
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	border:1px solid #ccc;
	width:12px;
	height:12px;
	background-color: #464545;
	padding: 3px;
}

