.menuWrapper {
	position: relative;
	top: 0;
}

.menuContainer {
	height: 60px;
}

.menuWrapper .itemsContainer {
	height: 100%;
	list-style-type: none;
}

.menuWrapper .itemsContainer .search {
	height: 100%;
}

.menuWrapper .itemsContainer .nav {
	height: 100%;
}

.navBarColor{
	background-color: #375a7f;
	border-color: transparent;
}

.navItems {
	height: 100%;
	float: right;
	list-style-type: none;
}

.navItems li {
	height: 100%;
	display: inline-block;
	width: 60px;
	line-height: 60px;
	color: white;
	text-transform: uppercase;
	font-family: serif;
}

.navItems li a {
	color: white;
}


.menuItems {
	float: right;
}

.menuItems a {
	color: white;
}

.menuItems a:hover{
	color: white;
}

.menuItems a:focus{
	color: white;
}

.col-md-4{
	float: right !important
}

.verticalLine {
	border-left: 2px solid #464545;
}

.verticalLineRight{
	border-right: 2px solid #464545;
}
