<section>
	<!-- Meetups View -->
	<div ng-controller="MeetupsController">
			<h1>I am hosting {{meetups.length}} events</h1>
			<ul>
 			<li ng-repeat="meetup in meetups">
        		<div>
        			<span ng-hide="editing">{{meetup.name}}</span> 
        			<input ng-show="editing" type="text" ng-model="dynamic[$index].name"></input>
        			<a href="" ng-click="deleteMeetup(meetup._id, $index)">Delete </a> | 
        			<a href="" ng-hide="editing" ng-click="editMeetup(meetup._id, $index); editing = !editing;">Edit</a>
        			<a href="" ng-show="editing" ng-click="editing = !editing; updateMeetup(meetup._id, $index)">Save</a>
        		</div>	
        	</li>
			</ul>
			<form ng-submit="createMeetup()">
				<input type="text" placeholder="Meetup Name" ng-model="meetupName">
				<button type="submit">Add</button>
			</form>
	</div>
	<p>My first paragraph.</p>
</section>
