<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #375a7f" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pied Piper</a>
        </div>

        <div class="collapse navbar-collapse col-md-4">
            <ul class="nav navbar-nav">
                <li class="menuitems"><a href="/">Home</a></li>
                <li class="menuitems"><a href="/profile">Profile</a></li>
                <li class="menuitems"><a href="/my-events">Events</a></li>
                <li class="menuitems verticalLine"><a ng-click="logout()" href=""><i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div><!--.nav-collapse -->
    </div>
</nav>