<section>
  <br>
  <br>
  <br>
  <br>
        <!-- Profile View -->
        <div>
          <div class="col-md-3 col-md-offset-1">
            <img src="http://www.genengnews.com/app_themes/genconnect/images/default_profile.jpg" style="max-height: col-md-offset-200px; max-width: 200px;">
          </div>
          <div class="col-md-7 col-md-offset-1">
            <h1>{{user.username}}</h1>
            <hr>
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
          </div>
        </div>
</section>