extend layout

block styles
  link(rel='stylesheet', href='/static/css/menu.css')
  link(rel='stylesheet', href='/static/css/home.css')

block menu
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.menuContainer.col-xs-12
        div.navbar-header.col-xs-3
            a.navbar-brand(href="/") Pied Piper
        div.col-xs-9
            ul.navItems
                li(class="menuLink")
                    a(href='/') Home
                li(class="menuLink")
                    a(href='/profile') Profile                    
                li(class="menuLink")
                    a(href='/my-events') Events
                li(class="menuLink")
                    a(ng-click="logout()" href="") Logout







block content
  base(href="/")
  div(ng-view) 
  script.
    app.constant('users', !{user})
