extend layout

block styles
  link(rel='stylesheet', href='/static/css/menu.css')
  link(rel='stylesheet', href='/static/css/home.css')

block menu
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.menuContainer.col-xs-12
        div.navbar-header
            a.navbar-brand(href="/") Pied Piper
        div.collapse.navbar-collapse
            ul.navItems
                li(class="menuLink")
                    a(href='/') home
                li(class="menuLink")
                    a(href='/my-events') events
                li(class="menuLink")
                    a(ng-click="logout()" href="") logout







block content
  base(href="/")
  div(ng-view) 
  script.
    app.constant('users', !{user})
