extend layout
block content
  base(href="/login")
  -for(var i in messages)
    .alert.alert-danger
      span.glyphicon.glyphicon-exclamation-sign
      !{messages[i]}
  include ../templates/login.html